In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy as sc
import re

In [154]:
dataset=pd.read_csv(r"D:\Data\Internship\Final_hotel.csv")

In [155]:
dataset.head(10)

,Unnamed: 0,name,address,location,amentities,price,rating,no of reviews,city,Check_in_date,Check_out_date
0,0,The Park Hyderabad,"22, RajBhavan Road, Somajiguda, Hyderabad, And...",4.0 km to city centre\n20 km to Hyderabad (HYD...,PoolFree parkingAirport transferSpaGymRestaurant,"Rs5,040",NaN,NaN,Hyderabad,12/02/2021,14/02/2021
1,1,The Westin Hyderabad Mindspace,"Raheja IT Park, Hitec City, Madhapur, Hyderaba...",9.9 km to city centre\n22 km to Hyderabad (HYD...,PoolFree parkingAirport transferSpaGymRestaurant,"Rs7,800",NaN,NaN,Hyderabad,12/02/2021,14/02/2021
2,2,Courtyard by Marriott Hyderabad,"1 3 1024 Lower Tank Bund Road, Hyderabad, Andh...",4.7 km to city centre\n21 km to Hyderabad (HYD...,PoolFree parkingAirport transferSpaGymRestaurant,"Rs6,700",NaN,NaN,Hyderabad,12/02/2021,14/02/2021
3,3,Courtyard by Marriott Hyderabad,"1 3 1024 Lower Tank Bund Road, Hyderabad, Andh...",4.7 km to city centre\n21 km to Hyderabad (HYD...,PoolFree parkingAirport transferSpaGymRestaurant,"Rs6,700",NaN,NaN,Hyderabad,12/02/2021,14/02/2021
4,4,Radisson Blu Plaza Hotel Hyderabad Banjara Hills,"8-2-409 Road No 6 Banjara Hills, Hyderabad, An...",4.5 km to city centre\n20 km to Hyderabad (HYD...,PoolFree parkingAirport transferSpaGymRestaurant,"Rs6,375",Good 7.6,NaN,Hyderabad,12/02/2021,14/02/2021
5,5,Taj Deccan,"Rd Number 1, Balapur Basthi, Banjara Hills, Te...",3.8 km to city centre\n19 km to Hyderabad (HYD...,PoolFree parkingAirport transferSpaGymRestaurant,"Rs8,000",NaN,NaN,Hyderabad,12/02/2021,14/02/2021
6,6,Taj Deccan,"Rd Number 1, Balapur Basthi, Banjara Hills, Te...",3.8 km to city centre\n19 km to Hyderabad (HYD...,PoolFree parkingAirport transferSpaGymRestaurant,"Rs8,000",NaN,NaN,Hyderabad,12/02/2021,14/02/2021
7,7,Hyderabad Marriott Hotel & Convention Centre,"Opp Hussain Sagar Lake Tank Bund Rd, Hyderabad...",4.6 km to city centre\n21 km to Hyderabad (HYD...,PoolFree parkingSpaGymRestaurantBar,"Rs7,200",NaN,NaN,Hyderabad,12/02/2021,14/02/2021
8,8,Best Western Ashoka,"6-1-70, Lakdi-ka-pul, Hyderabad, Andhra Prades...",1.7 km to city centre\n18 km to Hyderabad (HYD...,Free parkingAirport transferGymRestaurantBarMe...,"Rs5,211",NaN,NaN,Hyderabad,12/02/2021,14/02/2021
9,9,Hyatt Place Hyderabad Banjara Hills,"Banjara Hills Road 1, Hyderabad, Telangana, 50...",3.0 km to city centre\n19 km to Hyderabad (HYD...,PoolFree parkingAirport transferGymRestaurantBar,"Rs7,330",NaN,NaN,Hyderabad,12/02/2021,14/02/2021

In [156]:
dataset.drop(["Unnamed: 0"],axis=1,inplace=True)

In [157]:
dataset["price"]= dataset["price"].str.replace('[#,@,&,$,Rs]', '')

In [158]:
dataset['address'] = dataset['address'].str.replace("['',(,),.....,-]", '')

In [159]:
dataset["rating"].str.split('\n',expand=True)

             0     1
0          NaN   NaN
1          NaN   NaN
2          NaN   NaN
3          NaN   NaN
4     Good 7.6  None
...        ...   ...
5337       NaN   NaN
5338       NaN   NaN
5339       NaN   NaN
5340       NaN   NaN
5341       NaN   NaN

[5342 rows x 2 columns]

In [160]:
dataset.drop("no of reviews",axis=1,inplace=True)

In [161]:
dataset[["Review","Rating"]] = dataset["rating"].str.extract('(.*)\s+(\d+\.\d+)')
dataset.drop("rating",axis=1,inplace=True)

In [162]:
dataset[["distance to city centre(km)","distance to HYD-Rajiv Gandhi Intl(km)"]]=dataset["location"].str.split(r"\n",expand=True)

In [163]:
dataset.drop('location',axis=1,inplace=True)

In [164]:
dataset["distance to city centre(km)"]=dataset["distance to city centre(km)"].str[0:3]

In [165]:
dataset["distance to HYD-Rajiv Gandhi Intl(km)"]=dataset["distance to HYD-Rajiv Gandhi Intl(km)"].str[0:3]

In [166]:
dataset["Check_in_date"]=pd.to_datetime(dataset["Check_in_date"])

In [167]:
dataset["Check_out_date"]=pd.to_datetime(dataset["Check_out_date"])

In [169]:
for amenity in ['Pool','Free parking','Airport transfer','Spa','Restaurant','Gym','Bar','Bathtub','Meeting Facilities','Connecting rooms available','Pet-friendly','Kitchen','Internet access']:
    dataset[amenity] = np.where(dataset['amentities'].str.contains(amenity),'yes','no')

In [170]:
dataset.drop('amentities',axis=1,inplace=True)

In [172]:
dataset

,name,address,price,city,Check_in_date,Check_out_date,Review,Rating,distance to city centre(km),distance to HYD-Rajiv Gandhi Intl(km),...,Spa,Restaurant,Gym,Bar,Bathtub,Meeting Facilities,Connecting rooms available,Pet-friendly,Kitchen,Internet access
0,The Park Hyderabad,22 RajBhavan Road Somajiguda Hyderabad Andhra ...,5040,Hyderabad,2021-12-02,2021-02-14,NaN,NaN,4.0,20,...,yes,yes,yes,no,no,no,no,no,no,no
1,The Westin Hyderabad Mindspace,Raheja IT Park Hitec City Madhapur Hyderabad T...,7800,Hyderabad,2021-12-02,2021-02-14,NaN,NaN,9.9,22,...,yes,yes,yes,no,no,no,no,no,no,no
2,Courtyard by Marriott Hyderabad,1 3 1024 Lower Tank Bund Road Hyderabad Andhra...,6700,Hyderabad,2021-12-02,2021-02-14,NaN,NaN,4.7,21,...,yes,yes,yes,no,no,no,no,no,no,no
3,Courtyard by Marriott Hyderabad,1 3 1024 Lower Tank Bund Road Hyderabad Andhra...,6700,Hyderabad,2021-12-02,2021-02-14,NaN,NaN,4.7,21,...,yes,yes,yes,no,no,no,no,no,no,no
4,Radisson Blu Plaza Hotel Hyderabad Banjara Hills,82409 Road No 6 Banjara Hills Hyderabad Andhra...,6375,Hyderabad,2021-12-02,2021-02-14,Good,7.6,4.5,20,...,yes,yes,yes,no,no,no,no,no,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5337,OYO 4161 Hotel Shailly Inn,Above SBI Vastrapur Drive In Road Ahmedabad Gu...,46349,Ahmedabad,2021-12-02,2021-02-20,NaN,NaN,4.9,9.7,...,no,no,no,no,yes,no,no,no,no,no
5338,OYO 11427 Hotel Kalyan,38/1 Ashrafi Complex Calico Mills Jamalpur Ahm...,8793,Ahmedabad,2021-12-02,2021-02-20,NaN,NaN,1.6,8.0,...,no,no,no,no,yes,no,no,no,no,no
5339,Hotel Aagman,1st Floor Umiya Complex Near Essar Petrol Pump...,5396,Ahmedabad,2021-12-02,2021-02-20,NaN,NaN,77,77,...,no,no,no,no,no,no,no,no,no,no
5340,OYO 27638 Jay Radhe,Aslali CircleSardar Patel Ring Road Ahmedabad ...,6950,Ahmedabad,2021-12-02,2021-02-20,NaN,NaN,11,16,...,no,no,no,no,yes,no,no,no,no,no
5341,OYO 27638 Jay Radhe,Aslali CircleSardar Patel Ring Road Ahmedabad ...,6950,Ahmedabad,2021-12-02,2021-02-20,NaN,NaN,11,16,...,no,no,no,no,yes,no,no,no,no,no

In [171]:
dataset.to_csv("hotel_data1.csv")